################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ORA/bin
/ORA/obj
/ORA/obj/Debug/TempPE
*.suo
ORA\.vs\ORA